body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.listItem {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.listItem1 {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.itemBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
  border-radius: 5px;
  width: 350px;
  height: auto;
  margin-top: 10px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

.imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 160px;
  height: 160px;
  margin: 10px 0px;
}

.imageBox1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 0px 8px;
}

.textBox {
  display: flex;
  width: 160px;
  height: auto;
  margin: 10px 0px;
  flex-direction: column;
  justify-content: space-between;
}

.imageItem {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.itemBox1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: aqua; */
  border-radius: 15px;
  width: 600px;
  height: auto;
  margin: 10px 0px;
  padding: 10px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.bidderList {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  border-radius: 15px;
  width: 200px;
  height: 300px;
  margin: 10px 0px;
  padding: 10px 5px;
  overflow-y:auto;border-width: 3px;
  border-color: black;
  border-style: solid;
}

.bidderItem {
  display: flex;
  justify-content: space-around;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 10px 0px;
}

button {
  background-color:dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  margin-bottom: 0ch;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.myitem {
  display: flex;
  flex-direction: column;
}

.historyitem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: cyan; */
  padding: 10px 40px;
  margin: 5px 0px;
  border-radius: 9px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.textitem {
  font-size: smaller;
}

.bid {
  display: flex;
  flex-direction:row;
}

.logo {
  /* background-color: white; */
  padding: 5px 15px;
}

.textitem1 {
  font-size: smaller;
  color: white;
}